@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
a{
  text-decoration: none;
  cursor: pointer;
}
.container{
  padding: 0 10% 0 10%;
}
.btn{
  background-color: rgb(255, 255, 255);
  padding: .7rem 1.2rem;
  font-weight: 500;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  color: rgb(0, 0, 0);
  letter-spacing: 1px;
  text-transform: capitalize;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  
}
.btn img{
  width: 1rem;
  margin-left: .6rem;
}
.dark-btn{
  background-color: rgb(1, 1, 28);
  color: rgb(249, 241, 232);
}
@media(max-width:1200px){
  .container{
    padding: 0 5% 0 5%;
  }
}
@media(max-width:600px){
  .container{
    padding: 5% 5% 5% 5%;
  }
  
 
}
@media(max-width:800px){
  .container{
    padding: 7% 7% 7% 7%;
  }
 
}